* { margin: 0; padding: 0; box-sizing: border-box;}
.flex { display: flex; }
.column { flex-direction: column; }
.aic { align-items: center; }
.ai-end { align-items: flex-end; }
.jcc { justify-content: center; }
.jc-end { justify-content: flex-end; }
.jc-se { justify-content: space-evenly; }
.jc-sb { justify-content: space-between; }
.jc-sa { justify-content: space-around; }

body { height: 100vh; }