@import 'bases';
// @font-face {
//     font-family: 'BarlowCondensed';
//     src: url(../FONTS/BarlowCondensed-Regular.ttf);
// }
// @font-face {
//     font-family: 'Bellefair';
//     src: url(../FONTS/Bellefair-Regular.ttf);
// }


.index-body {
    background: content-box no-repeat url("../assets/home/background-home-desktop.jpg");
    color: #FFF;
}

header{
    width: 100%;
    height: 20%;
    padding-left: 5% ;
    // border: 1px solid;

    .logo, .logo2, .logo3, .logo4 {
        width: 10%;
        // height: 10%;
        border-radius: 50%;
        // border: 1px solid;
    }
    // .line {
    //     width: 20rem;
    //     height: 2rem;
    //     border: 1px solid;
    // }
    .line hr, .line2 hr, .line3 hr, .line4 hr{
        width: 30%;
        size: 1px;
        opacity: 0.2515;
        background: #FFF;
        position: absolute;
        left: 15%;
        z-index: 1;
        // margin-left: 10%;
    }

    .navmenu, .navmenu2, .navmenu3, .navmenu4 {
        width: 60%;
        height: 60%;
        background: rgba(255, 255, 255, 0.1);
        backdrop-filter: blur(40.774227142333984px);
        transition: 0.5s ease-in-out;
        .burger {
            display: none;
        }
        ul {
           width: 100%; 
        }
        li {
            list-style: none;

            &:active {
                text-decoration: underline #FFF;
            }
            &:hover {
                text-decoration: underline #a5a4a4;
            }
        }
        a {
            color: #FFF;
            font-family: Barlow Condensed;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            text-transform: uppercase;
            line-height: normal;
            letter-spacing: 2.7px;
            text-decoration: none;
        }
        
    }
    
}

.container {
    width: 100%;
    height: 80%;
    // border: 1px solid #FFF;

    .text-contain {
        width: 50%;
        height: 100%;
        // border: 1px solid #FFF;

        h5 {
            color: #D0D6F9;
            font-family: Barlow Condensed;
            font-size: 28px;
            font-style: normal;
            font-weight: 400;
            text-transform: uppercase;
            line-height: normal;
            letter-spacing: 4.725px;
        }
        h1 {
            color: #FFF;
            font-family: Bellefair;
            font-size: 150px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            text-transform: uppercase; 
            // padding: 5% 0;
            
        }
        .txt{
            width: 70%;
            height: 25%;
            // border: 1px solid;
            p {
                color: #D0D6F9;
                font-family: Barlow, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                font-size: 18px;
                font-style: normal;
                font-weight: 400;
                line-height: 32px; 
            }
        }
    }

    .explor-contain {
        width: 50%;
        height: 100%;
        // border: 1px solid #FFF;

        // .explor-Hover {
        //     width: 25rem;
        //     height: 25rem;
        //     border-radius: 50%;
        //     // background-color: rgba(130, 131, 145, 0.626);
        // }
        .explor {
            width: 17rem;
            height: 17rem;
            border-radius: 50%;
            background-color: rgb(255, 255, 255);
            position: absolute;
            bottom: 10%;

            span {
                color: #0B0D17;
                font-family: Bellefair;
                font-size: 32px;
                font-style: normal;
                font-weight: 400;
                text-transform: uppercase;
                line-height: normal;
                letter-spacing: 2px;
            }
            .explor:hover {
                box-shadow:  0px 0px 0px 50px #ffffff43;
                // opacity: 0.1036;
            }
        }
    }

}

.destination-body {
    background: content-box no-repeat url("../assets/destination/background-destination-desktop.jpg");
    color: #FFF;


  .subtitle {
    width: 45%;
    height: 10%;
    // border: 1px solid;

    p {
        color: #D0D6F9;
        font-family: Barlow Condensed;
        font-size: 28px;
        font-style: normal;
        font-weight: 400;
        text-transform: uppercase;
        line-height: normal;
        letter-spacing: 4.725px; 
        position: relative;
        left: 10%;
        text-transform: uppercase;

        b {
            color: #a5a4a4;
        }
    }
  }

  .container2 {
    width: 100%;
    height: 70%;
    // border: 1px solid;

    .left-container {
        width: 50%;
        height: 100%;
        // border: 1px solid;
    }

    .right-container {
        width: 50%;
        height: 100%;
        // border: 1px solid;

        ul {
            width: 50%; 
            // border: 1px solid;
         }
         li {
            list-style: none;
            color: #D0D6F9;
            font-family: "Barlow Condensed";
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            letter-spacing: 2.7px;
            text-decoration: none;
            text-transform: uppercase;
         }

         h1 {
            color: #FFF;
            font-family: Bellefair;
            font-size: 100px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            text-transform: uppercase;
         }

         p {
            color: #D0D6F9;
            font-family: Barlow;
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: 32px;
         }

         .down {
            width: 60%;
            height: 30%;
            // border: 1px solid;
         }

         .downbox {
            width: 80%;
            // height: 30%;
            // border: 1px solid;
         }

         hr {
            width: 100%;
            size: 1px;
            opacity: 0.2515;
            background: #383B4B;
         }

         span {
            color: #D0D6F9;
            font-family: "Barlow Condensed";
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            letter-spacing: 2.362px;
            text-transform: uppercase;
         }

         h4 {
            color: #FFF;
            font-family: Bellefair;
            font-size: 28px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            text-transform: uppercase;
         }
    }
  }
}

.crew-body {
    background: url("../assets/crew/background-crew-desktop.jpg");
    background-size: cover;
    color: #FFF;

    .container3 {
        width: 100%;
        height: 80%;
        // border: 1px solid;

        .textcrew-container {
            width: 55%;
            height: 100%;
            // border: 1px solid;

            .TitleH4 {
                width: 65%;
                height: 10%;
                // border: 1px solid;
                h4 {
                    color: #D0D6F9;
                    font-family: Barlow Condensed;
                    font-size: 28px;
                    font-style: normal;
                    font-weight: 400;
                    text-transform: uppercase;
                    line-height: normal;
                    letter-spacing: 4.725px; 
                    // position: relative;
                    // left: 25%;
    
                b {
                    color: #a5a4a4;
                 }
                }
            }
            
            .txtContain {
                width: 65%;
                height: 60%;
                // margin-left: 25%;
                // border: 1px solid;
                h3 {
                    color: #FFF;
                    font-family: Bellefair;
                    font-size: 32px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                    text-transform: uppercase;
                }
                h2 {
                    color: #FFF;
                    font-family: Bellefair;
                    font-size: 56px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                    text-transform: uppercase;
                }
                p {
                    color: #D0D6F9;
                    font-family: Barlow;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 32px;
                }
            }

            .dots {
                width: 65%;
                height: 10%;
                gap: 25px;
                // border: 1px solid;

                .dot {
                    width: 15px;
                    height: 15px;
                    border-radius: 50%;
                    background-color: #a5a4a463;
                    // border: 1px solid;
                }
                .dot1 {
                    background-color: #FFF;
                }
            }
            
        }
        .imgcrew-container {
            width: 45%;
            height: 100%;
            // border: 1px solid;
        }
        
    }
}

.technovehi-body {
    background-image: url("../assets/technology/background-technology-desktop.jpg");
    color: #FFF;

    .TitleH4 {
        width: 50%;
        height: 10%;
        // border: 1px solid;
        h4 {
            color: #D0D6F9;
            font-family: Barlow Condensed;
            font-size: 28px;
            font-style: normal;
            font-weight: 400;
            text-transform: uppercase;
            line-height: normal;
            letter-spacing: 4.725px; 
            // position: relative;
            // left: 25%;

        b {
            color: #a5a4a4;
         }
        }
    }
    .container4 {
        width: 100%;
        height: 80%;
        // border: 1px solid #FFF;
    }

    .lauch-desc {
        width: 60%;
        height: 100%;
        // border: 1px solid;

        .numberboxers {
        width: 20%;
        height: 55%;
        // border: 1px solid;

        .numerbox {
            width: 5rem;
            height: 5rem;
            border-radius: 50%;
            border: 1px solid;

            span {
                color: #FFF;
                text-align: center;
                font-family: Bellefair;
                font-size: 32px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                letter-spacing: 2px;
            }
        }
        .nb1 {
            background-color: #FFF;
            border: none;
             span {
                color: #0B0D17;
             }
        }
        }
        .text-box {
            width: 60%;
            height: 55%;
            margin-left: 5%;
            // border: 1px solid;
            span {
                list-style: none;
                color: #D0D6F9;
                font-family: "Barlow Condensed";
                font-size: 18px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                letter-spacing: 2.7px;
                text-transform: uppercase;
            }
            h2 {
                color: #FFF;
                font-family: Bellefair;
                font-size: 56px;
                font-style: normal;
                font-weight: 400;
                text-transform: uppercase;
                line-height: normal;
            }
            p {
                color: #D0D6F9;
                font-family: Barlow;
                font-size: 18px;
                font-style: normal;
                font-weight: 400;
                line-height: 32px;
            }
        }
    }

    .rocket-img {
        width: 40%;
        height: 100%;
        padding-bottom: 2%;
        // border: 1px solid;
    }
    
}



/* Medium devices (landscape tablets, 768px and up) */
@media (max-width: 920px) and (min-width: 601px)  {
    .index-body {
        background: url("../assets/home/background-home-tablet.jpg");
        background-size: cover;
    
    header {
        height: 15%;
        // border: 1px solid;
       .line hr {
            display: none;
        } 
       .navmenu {
            width: 70%;
            height: 100%;
            // align-self: flex-start;
            // border: 1px solid;
            .burger {
                display: none;
            }
        }
    }
    .container {
        width: 100%;
        height: 85%;
        // border: 1px solid;
        display: flex;
        flex-wrap: wrap;

        .text-contain {
            width: 100%;
            height: 50%;
            // border: 1px solid;
            display: flex;
            h5 {
                font-size: 20px;
                letter-spacing: 4px;
            }
            h1 {
                font-size: 130px;
            }
            .txt {
                width: 70%;
                display: flex;
                justify-content: center;
                align-items: center;

                p{
                    text-align: center;
                    font-size: 17px;
                }
            }
        }
        .explor-contain {
            width: 100%;
            height: 50%;
            // border: 1px solid;

            .explor {
                width: 12rem;
                height: 12rem;
                border-radius: 50%;
                background-color: rgb(255, 255, 255);
                position: absolute;
                bottom: 5%;
            }
        }
    }
}

.destination-body {
    max-height: 100vh;
    background-image: url("../assets/destination/background-destination-tablet.jpg");
    background-size: cover;
    background-position: center;

    .subtitle {
        width: 50%;
        height: 5%;
        // border: 1px solid;
    
        p {
            font-size: 20px;
            letter-spacing: 4px; 
            position: relative;
            left: 10%;
        }
    }
    .container2 {
        //  flex-direction: row;
         flex-wrap: wrap;
        
         .left-container {
            width: 100%;
            height: 40%;
            // border: 1px solid;
         }
         .right-container {
            width: 100%;
            height: 80%;
            justify-content: space-evenly;
            align-items: center;
            // border: 1px solid;

            h1 {
                font-size: 80px;
             }
         }
         .down {
            width: 100%;
            // border: 1px solid;

            .downbox {
                width: 100%;
                // border: 1px solid;
             }
         }
         
    }
}

}

@media (max-width: 600px)  {
.index-body {
    max-height: 100vh;
    background: url("../assets/home/background-home-mobile.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    }
    header {
        height: 15%;
        // border: 1px solid;
       .line hr {
            display: none;
        } 
       .navmenu {
            // width: 70%;
            // height: 100%;
            // align-self: flex-start;
            // border: 1px solid;
            .menulist {
                display: none;}
            
        }
        .burger{
            position: fixed;
            top: 0;
            width: 250px;
            height: 100vh;
            z-index: 999;
            background-color: #FFF;
            box-shadow: -10px 0 10px rgb(0, 0, 0, 0.1);
            border: 1px solid;
        }
    }
    .container {
        width: 100%;
        height: 85%;
        // border: 1px solid;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;

        .text-contain {
            width: 100%;
            height: 50%;
            display: flex;
            justify-content: space-evenly;
            // border: 1px solid;
            h5 {
                font-size: 17px;
                letter-spacing: 4px;
            }
            h1 {
                font-size: 90px;
            }
            .txt {
                width: 80%;
                display: flex;
                justify-content: center;
                align-items: center;
                // border: 1px solid;

                p{
                    text-align: center;
                    font-size: 15px;
                    line-height: 25px;
                    
                }
            }
        }
        .explor-contain {
            width: 100%;
            height: 50%;
            // border: 1px solid;

            .explor {
                width: 12rem;
                height: 12rem;
                border-radius: 50%;
                background-color: rgb(255, 255, 255);
                position: absolute;
                bottom: 5%;
            }
        }
    }

.destination-body {
    max-height: 100vh;
    background-image: url("../assets/destination/background-destination-mobile.jpg");
    background-size: cover;
    background-position: center;

    .navmenu2 {
        display: none;
    }
    .line2 hr {
        display: none;
    }
    .subtitle {
        width: 100%;
        height: 10%;
        justify-content: center;
        align-items: start;
        // border: 1px solid;
    
        p {
            font-size: 15px;
            letter-spacing: 4px; 
            // position: relative;
            left: 0%;
        }
    }
    .container2 {
        //  flex-direction: row;
         flex-wrap: wrap;
        
         .left-container {
            width: 100%;
            height: 40%;
            // border: 1px solid;
         }
         .right-container {
            width: 100%;
            height: 80%;
            justify-content: space-evenly;
            align-items: center;
            // border: 1px solid;

            h1 {
                font-size: 80px;
             }
         }
         .down {
            width: 100%;
            height: 50%;
            align-items: center;
            // border: 1px solid;

            .downbox {
                width: 50%;
                flex-wrap: wrap;
                justify-content: center;
                align-items: center;
                text-align: center;
                // border: 1px solid;
             }
         }
         
    }
}

}